@import "components/grid-isotope";
@import "components/styles-reset";
@import "components/UI-kit-mixins";

html, body {
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    color: #5e6a71;
}

.section-wrapper {
  width: 1200px;
  .box-sizing(border-box);
  margin: auto;
}
.s-3d-printing {
  border-bottom: 1px solid #cccccc;
}
.s-3d-printing-inner {
  background: url("../img/3d-printing-banner.png") right bottom no-repeat;
  min-height: 600px;
  padding-top: 30px;
  .logo-inner,
  .team-inner {
    padding-bottom: 60px;
  }
  .content-inner {
    padding-right: 600px;
    text-align: center;
    color: #005a8b;
  }
  h2 {
    font-size: 60px;
    padding-bottom: 10px;
    font-family: Oswald;
  }
  .we-change-world {
    font-size: 26px;
    padding-bottom: 140px;
    text-transform:uppercase;
  }
  .logo-inner {}
}

.s-isotope {
  background: #fdfdff;
  padding: 20px 0 40px;
}

.grid-isolate-filters {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  li {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ededed;
    background-color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    &:hover,
    &.active {
      border-color: #3d3d3d;
    }
  }
}

.s-idea-description {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  .hi {
      padding-bottom:22px;
      font-style:italic;
  }
  .section-title {
      margin:0 0 22px;
      text-align:center;
      width:100%;
  }
  .note {
      font-style:italic;
      font-size:16px;
  }
}

.s-idea-description-inner {
  text-align: center;
  padding: 60px 10%;
  font-size: 20px;
  line-height: 1.2;
}

.s-team-years {
  background: #f6f8e0;
  padding: 70px 0;
  .section-title {
    text-align: left;
    padding-top: 80px;
  }
}

/*.section-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin: 0 auto 80px;
  width: 60%;
}*/
.section-title {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto 80px;
    width: 60%;
    color: #5e6a71;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}


.b-team-years-chat {
  background: url("../img/team-years-chat.png") center left no-repeat;
  padding-left: 500px;
  min-height: 380px;
  margin: 30px 0;
  text-align: left;
}

.b-team-members-from-other {
  background: url("../img/team-from-other-projects.png") center right no-repeat;
  padding-right: 460px;
  min-height: 300px;
  margin: 30px 0;
  text-align: right;
  img {
    position: relative;
    top: 9px;
  }
  .legend {
    text-align: center;
    font-family: Oswald,sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding-top: 60px;
  }
}

.s-team-families {
  background: url("../img/bg_lines2.png") repeat scroll 0 0;
  padding-left: 500px;
  min-height: 300px;
  padding: 70px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);

  .data-description {
    margin: 40px auto 100px;
    width: 600px;
  }
}
.b-married-peoples,
.children-amount {
  text-align: center;
  margin-left: -23px;
  .col {
    display: inline-block;
    vertical-align: middle;
  }
  .married-data-inner,
  .vs {
    padding: 0 60px;
  }
  .data-description {
    padding-left: 30px;
  }
  .vs {
    font-size: 40px;
    font-family: Oswald, sans-serif ;
    font-weight:100;
  }
  .children-1,
  .children-2 {
    img {
      padding-bottom: 22px;
      height: 250px;
    }
  }
}


.b-married-peoples {
  margin-left: -23px;
}

.children-amount {
  margin-left: -105px;
}
.team-children-data {
  text-align: center;
  img {
    height: 250px;
  }
}

.s-languages {
  background-color: #c7fff4;
  text-align: center;
  padding: 70px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset;
  .col {
    display: inline-block;
  }
  .banner {
      padding-right: 80px;
  }
  .photo {
      padding-left:80px;
  }
  .sentence {
    font-size: 30px;
    font-style: italic;
    padding-bottom: 22px;
  }
}

.s-devices {
  background: #a5c63b;
  min-height: 80px;
  padding: 70px 0;
}
.s-devices-inner {
  background: url("../img/devices-bg.jpg") left center no-repeat;
  padding-left: 360px;
  min-height: 300px;
  .section-title {
    color: white;
  }
}

.s-rendering {
  background: #434240;
  min-height: 80px;
  padding: 70px 0;

  &, .section-title {
     color:#e3e3e3;
     text-align:center;
  }
  .rendering-bg {
    position: absolute;
    top: 10px;
    left: 0;
  }
  .rendering1-bg {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .section-title {
      padding-top: 60px;
      margin-bottom: 60px;
    white-space: nowrap;
  }
}
.s-rendering-inner {
  position: relative;
  padding: 0 300px 100px;
    min-height: 450px;
  a {
    color: #e3e3e3;
  }
  .bert {
    padding: 20px 0 40px;
  }
  .kudos {
    font-size: 40px;
    margin-top: 22px;
    font-family: Oswald,sans-serif;
    font-weight: 100;
  }
}



.s-investment {
  background: url("../img/sell-bg.jpg") center bottom repeat-x #3ab6da;
  height: 528px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset;
  
  &, .section-title {
     color:white;
     text-align:left;
  }
  .section-title {
      padding-top: 60px;
      margin:0 0 60px;
  }
  .kudos {
    font-size: 40px;
    margin-top: 122px;
    font-family: Oswald,sans-serif;
    font-weight: 100;
  }
}
.s-investment-inner {
  background: url("../img/sell-banner.png") right 5px no-repeat;
  padding-right: 660px;
  height: 100%;
}


.s-congrats {
  background: url("../img/congrats-bg.jpg") center bottom repeat-x #ffcc4d;
  height: 700px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset;
  padding-top: 60px;
  
  &, .section-title {
     color:white;
  }
  .franky {
    font-size: 40px;
    margin-top: 150px;
    font-family: Oswald,sans-serif;
    font-weight: 100;
    width: 250px;
  }
  .ruzhena {
    font-size: 40px;
    margin-top: 150px;
    font-family: Oswald,sans-serif;
    font-weight: 100;
    float: left;    
    width: 250px;
  }
    .karen {
    font-size: 40px;
    margin-top: 150px;
    font-family: Oswald,sans-serif;
    font-weight: 100;
    float: right;
    width: 250px;
    text-align: right;
  }
}
.s-congrats-inner {
  background: url("../img/congrats-banner.jpg") center bottom no-repeat;
  height: 100%;
}


.s-rewards {
  padding: 70px 0 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  .banner-rewards {
    font-size: 0;
    img {
      max-width: 100%;
    }
  }
}

.s-beer {
  padding: 70px 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  .section-title {
    margin-bottom: 40px;
    width: 50%;
  }
  .col {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 45%;
    &.vs {
      margin-top: 120px;
      width: 9%;
      font-size: 40px;
      font-family: Oswald, sans-serif ;
      font-weight:100;
      &.empty {
        margin: 0;
      }
    }
    .banner-inner {
      height: 280px;
      padding-bottom: 22px;
      img {
        max-height: 100%;
      }
      &.grechka {
        max-height: 90%;
      }
      &.beer {
        display: inline-block;
        margin-left: -55px;
      }
    }
    .description {
      padding-bottom: 22px;
    }
  }
}