<div class="section-wrapper">
<div class="grid-isolate-filters">
    <ul>
        <li ng-click="filterHandler(filter)" ng-class="{active: config.currentFilter == filter.id}" ng-repeat="filter in config.filters">
            {{filter.title}}
        </li>
    </ul>
</div>
</div>
<div class="grid">
    <div ng-repeat="element in config.elements" data-id="{{element.id}}" ng-class="{filtered: config.currentFilter != 0}" class="grid-item {{element.class}}">
        <img src="{{element.image}}" alt=""/>
        <div class="grid-item-description">
            <div class="description-inner">
                <div class="description">
                    <div class="name">
                        {{element.name}}
                    </div>
                    <div class="details">
                        {{element.filters[config.currentFilter].text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>