anniversary-grid-isolate {
  display: block;

  .grid-item,
  .grid-sizer {
    width: 15%;
  }

  .grid-item {
    float: left;
    border: 1px solid #3d3d3d;
    font-size: 0;
    overflow: hidden;
    &:hover {
      img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
      .grid-item-description {
        opacity: 1;
        cursor: default;
      }
    }
    img {
      width: 100%;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      webkit-transition: top 3s ease-out,left 3s ease-out,opacity .3s ease-out,-webkit-transform 3s ease-out;
      -moz-transition: top 3s ease-out,left 3s ease-out,opacity .3s ease-out,-webkit-transform 3s ease-out;
      -o-transition: top 3s ease-out,left .3s ease-out,opacity .3s ease-out,-webkit-transform 3s ease-out;
      transition: top 3s ease-out,left 3s ease-out,opacity .3s ease-out,-webkit-transform 3s ease-out;
    }

  }
  .grid-item-description {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    opacity: 0;
    webkit-transition: top .3s ease-out,left .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
    -moz-transition: top .3s ease-out,left .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
    -o-transition: top .3s ease-out,left .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
    transition: top .3s ease-out,left .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
  }
  .description-inner {
    height: 100%;
    width: 100%;
    display: table;
  }
  .description {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.4);
  }
  .details {
    font-size: 18px;
  }
  .name {
    font-size: 24px;
    &:before,
    &:after {
      content: ' - '
    }
  }
/*
  .grid-item--width2 { width: 40%; }
  .grid-item--height2 { height: 200px; }*/

}